*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    font-family: Pixelify Sans;
}

/***** REUSEBLE CONTENT *****/
main{
    min-width: 650px;
    min-height: 700px;
    width: 100%;
    height: 100vh;
    background-image: url("img/playGround.png");
    background-repeat: no-repeat;
    position: relative;
}

.view-btns{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.view-btns button{
    background: none;
    border: none;
}

.view-btns img{
    cursor: pointer;
}

.full-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 35px;
}

.start_btn{
    cursor: pointer;
    border: none;
    background: none;
}

.cat{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  */



/***** INDEX *****/
.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    gap: 35px;
}

.main-header h1{
    cursor: default;
    text-align: center;
    align-self: center;
    font-size: 3.5rem;
    font-weight: 400;
}
/* */



/***** OPTIONS MENU *****/
.all-options button{
    background: none;
    border: none;
}
.all-options img{
    width: 10%;
}
/* */



/***** PLAY TIME *****/
.time{
    display: flex;
    flex-direction: row;
}
/* */



/***** BRUSH TIME *****/

/* */



/***** SHOWER TIME *****/

/* */



/***** MEAL TIME *****/

/* */